    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  header {
    padding: 20px 35px;
    background-color: rgb(50, 52, 60);;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
    
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #91cbcf;
  }
    
  header a {
    color: #91cbcf;
  }
    
  header nav {
    margin: 7px 0;
  }
    
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
    
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
    
  header nav ul li a:hover {
    background: orange;
    color: #91cbcf;
    border-radius: 15px;
  }
  
  /* HEADER / NAV BAR STYLES END */
  
  /* HERO STYLES START */
  .hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: auto;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  .hero-cta {
    width: 15%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }
  
  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: rgb(71, 87, 116);
  }
  
  .hero-form {
    height: 275px;
    width: 185px;    
    padding: 20px;
    margin: 3.5%;
    background-image: url("../images/profile.jpg");

  }
    /* HERO STYLES END */
  
  /* ABOUT ME STYLES START */
  .About-Me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .About-Me-Title {
    width: 15%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    height: 160px;
    border-right: 3px solid rgb(71, 87, 116);
    padding-right: 10px;
  }
  
  .About-Me h2 {
    font-style: italic;
    font-size: 75px;
    color: rgb(60, 79, 107);
  }
  
  .Biography {
    color: rgb(71, 87, 116);
    width: 50%;
    margin: 3.5%;
  }
  
  .Biography p {
    margin: 5px 0 15px 0;
  }
  /* ABOUT ME STYLES END */
  
  /* WORK STYLES START */
  .Work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .Work-Title {
    width: 15%;
    text-align: right;
    margin: 3.5%;
    color: blue;
    font-size: 18px;
    line-height: 1.2;
    height:550px;
    border-right: 3px solid rgb(71, 87, 116);
    padding-right: 10px;
    margin-top: 0;
  }
  
  .Work-Title h2 {
    font-style: italic;
    font-size: 75px;
    color: rgb(71, 87, 116);
  }
  
  .Work-Boxes {
    margin: 3.5%;
    width: 50%;
    margin-top: 0;
  }
  
  .Box1 {
    border: 3px solid #91cbcf;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    height: 300px;
    background-image: url("../images/run-buddy.png");
  }
  
  .upper-boxes {
    display: flex;
    margin-bottom: 15px;
    height: 100px;
  } 
  
  .Box2 {
    border: 3px solid #91cbcf;
    width: 50%;
    padding: 20px;
    margin-right: 15px;
  
    background-image: url("../images/horiseon.png");  
  }
  
  .Box3 {
    border: 3px solid #91cbcf;
    width: 50%;
    padding: 20px;
  
  }
  
  .lower-boxes {
    display: flex;
    margin-bottom: 15px;
    height: 100px;
  }
  
  .Box4 {
    border: 3px solid #91cbcf;
    width: 50%;
    padding: 20px;
    margin-right: 15px;
  }
  .Box5 {
    border: 3px solid #91cbcf;
    width: 50%;
    padding: 20px;
  }
  
  
  /* WORK STYLES END */
  
  /* CONTACT ME STYLES START */
  .Contact-Me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .Contact-Me-Title {
    width: 15%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    height: 175px;
    border-right: 3px solid rgb(71, 87, 116);
    padding-right: 10px;
    margin-top: 0;
  }
  
  .Contact-Me-Title h2 {
    font-style: italic;
    font-size: 75px;
    color: rgb(71, 87, 116);
  }
  
  .Contact-Me-form {
    width: 50%;
    margin: 3.5%;
    margin-top: 0;
  }
  
  .Contact-Me-form nav ul {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .Contact-Me-form nav ul li a {
    font-weight: normal;
    font-size: 1.55vw;
    color: rgb(71, 87, 116);
  }
  
  /* CONTACT ME STYLES END */
  
/* RESUME STYLES START */
.Interests, .Skills, .Education, .Experience, .Extracurriculars, .Resume1 {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.Interests h3, .Skills h3, .Education h3, .Experience h3, .Extracurriculars h3 {
    color:#39c1ca
}
  /* RESUME STYLES END */ 


  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .Contact-Me, .Contact-Me-Title{
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .Work-Title {
      width: 80%;
    }
    
    .Work {
      flex: 0 70%;
    }
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
  